/* @font-face { font-family: Helvetica; src: url('HelveticaNeue-Bold.ttf'); }  */

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

#title{
    color: red;
    font-family: Helvetica 
}